<StackLayout>
    <StackLayout *ngIf="!busyState" class="wl-content">
        <Label [text]="list.name" horizontalAlignment="center" class="h2"></Label>


        <StackLayout *ngIf="listEnded">
            <Label horizontalAlignment="center" class="h2">
                <FormattedString>
                    <Span text="The result is "></Span>
                    <Span [text]="successfulAnswers.length + ' of ' + pairsAmount"></Span>
                </FormattedString>
            </Label> 
            <Button 
                (tap)="learnAgain()" 
                class="fa wl-btn wl-btn--success">
                <FormattedString>
                    <Span text="Learn again "></Span>
                    <Span text="&#xf01e;"></Span>
                </FormattedString>
            </Button>
            <Button 
                [nsRouterLink]="['/home/list', listId]" 
                class="fa wl-btn">
                <FormattedString>
                    <Span text="Edit list "></Span>
                    <Span text="&#xf040;"></Span>
                </FormattedString>
            </Button>
        </StackLayout>
        <StackLayout *ngIf="!listEnded">
            <Label [text]="currentNumber + '/' + pairsAmount" horizontalAlignment="center" class="h2"></Label>
            <Label [text]="pair.original" horizontalAlignment="center" class="h3"></Label>
            <GridLayout columns="*, 50" height="50">
                <TextField col="0" [(ngModel)]="answer" class="wl-input" hint="Translation"></TextField>
                <Label col="1" *ngIf="checkShown" horizontalAlignment="center" class="h2" verticalAlignment="middle">
                    <FormattedString>
                        <Span *ngIf="successfulAnswer" text="&#xf00c;" class="fa wl-text-success"></Span>
                        <Span *ngIf="!successfulAnswer" text="&#xf00d;" class="fa wl-text-error"></Span>
                    </FormattedString>
                </Label> 
            </GridLayout>
            <Button 
                (tap)="checkWord()" 
                text="Check" 
                class="fa wl-btn wl-btn--success m-marg-top">
            </Button>
        </StackLayout>
    </StackLayout>
    <StackLayout *ngIf="busyState" height="100%" verticalAlignment="middle">
        <ActivityIndicator #activityIndicator [busy]="busyState" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    </StackLayout>
</StackLayout>