@import '../styles/app-variables';

StackLayout {
    margin-left: 20;
    margin-right: 20;
    padding-bottom: 15;
}

Image {
    margin-top: 70;
    margin-bottom: 20;
}

Button, TextField {
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 10;
}

TextField {
    color: #fff;
    placeholder-color: #fff;
    border-color: #fff;
}

.submit-button {
    color: white;
    margin-top: 20;
}