<ScrollView class="coverImage">
    <StackLayout 
        orientation="vertical" 
        verticalAlignment="middle">
        <StackLayout>
            <RadDataForm 
                tkExampleTitle 
                tkToggleNavButton 
                [source]="user" 
                [metadata]="personMetadata"
                (propertyValidate)="onPropertyValidate($event)">
            </RadDataForm>
        </StackLayout>
        
        <Button 
            text="Register" 
            class="submit-button wl-btn" 
            (tap)="register()">
        </Button>
        <Button 
            class="wl-btn wl-btn--default"
            text="Sign In"
            [nsRouterLink]="['../login']">
        </Button>
    </StackLayout>
</ScrollView>