<StackLayout class="wl-content">
    <!-- lists -->
    <GridLayout
        height="420"
        columns="auto, auto" >
        <StackLayout 
            col="0" 
            width="50%">
            <Label 
                text="Lists" 
                class="h2" 
                textAlignment="center">
            </Label>
            <ListView 
                [items]="lists" 
                class="wl-list" 
                height="75%">
                <ng-template 
                    let-item="item">
                    <GridLayout columns="*, 65">
                        <Label 
                            col="0" 
                            [text]='item.value.name' 
                            [nsRouterLink]="['/home/learning', item.key]" 
                            class="wl-list-label">
                        </Label>
                        <Button 
                            col="1" 
                            [nsRouterLink]="['/home/list', item.key]" 
                            text="&#xf044;" 
                            class="fa wl-btn wl-btn--default">
                        </Button>
                    </GridLayout>
                </ng-template>
            </ListView>
            <Button 
                [nsRouterLink]="['/home/lists']" 
                text="View All" 
                class="wl-btn wl-btn--link">
            </Button>
        </StackLayout>

        <StackLayout col="1" width="50%">
            <Label 
                text="Unknown words" 
                class="h2" 
                textAlignment="center">
            </Label>
        </StackLayout>
    </GridLayout>

    <!-- actions -->
    <GridLayout columns="auto, auto">
        <StackLayout 
            col="0" 
            width="50%" 
            horizontalAlignment="center">
            <Button 
                text="Create list" 
                class="wl-btn wl-btn--success"
                [nsRouterLink]="['/home/list']">
            </Button>
        </StackLayout>
        <StackLayout 
            col="1" 
            width="50%" 
            horizontalAlignment="center">
            <Button 
                text="Learn random" 
                class="wl-btn" 
                (tap)="getRandomList()">
            </Button>
        </StackLayout>
    </GridLayout>
</StackLayout>