<ScrollView class="coverImage">
    <StackLayout verticalAlignment="middle">

        <RadDataForm
            tkExampleTitle 
            tkToggleNavButton 
            [source]="user" 
            [metadata]="personMetadata">
        </RadDataForm>
        
        <Button 
            text="Sign in" 
            class="wl-btn wl-marg-bottom--medium" 
            (tap)="login()">
        </Button>
        <Button 
            class="wl-btn wl-btn--default"
            text="Registration"
            [nsRouterLink]="['../registration']">
        </Button>
    </StackLayout>
</ScrollView>