<ScrollView class="coverImage">
    <StackLayout verticalAlignment="middle">
        <StackLayout>
            <RadDataForm
                tkExampleTitle 
                tkToggleNavButton 
                [source]="user" 
                [metadata]="personMetadata">
            </RadDataForm>
        </StackLayout>
        
        <Button 
            text="Sign in" 
            class="wl-btn wl-marg-bottom--medium" 
            (tap)="login()">
        </Button>
        <Button 
            class="wl-btn wl-btn--default"
            text="Registration"
            [nsRouterLink]="['../registration']">
        </Button>
    </StackLayout>
</ScrollView>